@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeaderPartialComponent")

<body>
    <div>
        @await Component.InvokeAsync("_UILayoutNavbarPartialComponent")

        <!-- book section -->
        @RenderBody()
    </div>
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")
</body>

</html>