@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid">
    <h4 class="page-title">İstatistikler</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-table"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Kategoriler</p>
                                <h4 class="card-title" id="categoryCount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-brands fa-product-hunt"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ürünler</p>
                                <h4 class="card-title" id="productCount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-table-cells"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Aktif Kategoriler</p>
                                <h4 class="card-title" id="activeCategoryCount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-table-cells-column-lock"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Pasif Kategoriler</p>
                                <h4 class="card-title" id="passiveCategoryCount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning" style="background: #A020F0">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-square-up-right"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Yüksek Fiyatlı Ürün</p>
                                <h4 class="card-title" id="highestProductName">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success" style="background: #d3a625">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-circle-down"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Düşük Fiyatlı Ürün</p>
                                <h4 class="card-title" id="lowestProductName">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger" style="background: #668722">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-chart-pie"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Ortalama Ürün Fiyatı</p>
                                <h4 class="card-title" id="productPriceAvg">Loading..</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary" style="background: #ffbb00">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-bomb"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Düşük Fiyatlı Kategori</p>
                                <h4 class="card-title" id="atLeastValuableCategory">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning" style="background: #474342">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-bolt"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Yüksek Fiyatlı Kategori</p>
                                <h4 class="card-title" id="mostValuableCategory">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success" style="background: #115852">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-turkish-lira-sign"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Son Sipariş Tutarı</p>
                                <h4 class="card-title" id="lastOrderPrice">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger" style="background: #e01010">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-burger"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Toplam Aktif Sipariş</p>
                                <h4 class="card-title" id="totalActiveOrder">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary" style="background: #D5AD8B">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-chair"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Toplam Masa</p>
                                <h4 class="card-title" id="tableCount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats card-warning" style="background: #563C14">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-money-bill-trend-up"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Bugün Kazanılan Para</p>
                                <h4 class="card-title" id="todayTotalPrice">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-success" style="background: #FFADAD">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Yüksek İndirim Oranı</p>
                                <h4 class="card-title" id="mostDiscountAmount">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-danger" style="background: #01cdfe">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-award"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">En Son İndirimdeki Ürün</p>
                                <h4 class="card-title" id="lastDiscountProduct">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats card-primary" style="background: #F46049">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa-solid fa-landmark"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Toplam Kasadaki Para</p>
                                <h4 class="card-title" id="totalPriceMoneyCase">Loading...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>$(document).ready(() => {
        const { interval } = rxjs;
        const { switchMap } = rxjs.operators;

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7083/SignalRHub")
            .withAutomaticReconnect()
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.onclose(() => {
            console.log("Connection closed");
        });

        connection.on("ReceiveDashboardCounts", (data) => {
            // Log the entire data object
            console.log(data);

            // Ensure the properties exist before accessing them
            if (data) {
                $("#categoryCount").text(data.categoryCount);
                $("#productCount").text(data.productCount);
                $("#activeCategoryCount").text(data.activeCategoryCount);
                $("#passiveCategoryCount").text(data.passiveCategoryCount);
                $("#highestProductName").text(data.highestProductName);
                $("#lowestProductName").text(data.lowestProductName);
                $("#productPriceAvg").text(data.productPriceAvg);
                $("#atLeastValuableCategory").text(data.atLeastValuableCategory);
                $("#mostValuableCategory").text(data.mostValuableCategory);
                $("#lastOrderPrice").text(data.lastOrderPrice);
                $("#totalActiveOrder").text(data.totalActiveOrder);
                $("#tableCount").text(data.tableCount);
                $("#totalPriceMoneyCase").text(data.totalPriceMoneyCase);
                $("#lastDiscountProduct").text(data.lastDiscountProduct);
                $("#mostDiscountAmount").text(data.mostDiscountAmount);
                $("#todayTotalPrice").text(data.todayTotalPrice);



            } else {
                console.error("Invalid data received:", data);
            }
        });

        connection.on("ReceiveDashboardCountsError", (data) => {
            console.log(data);
        });

        connection.start().then(() => {
            console.log("Connection established and connected");

            // RxJS interval operatörünü kullanarak her 5 saniyede bir sunucudan veri al
            interval(5000).pipe(
                switchMap(() => connection.invoke("TakeDashboardCounts").catch(err => console.error(err)))

            ).subscribe();

        }).catch((err) => {
            console.log(err);
        });
    });</script>